div#root {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapers.com/images/featured/pokemon-landscape-yf5odhgkds0n53yl.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.game-board {
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.game-board div {
    width: 300px;
    height: 300px;
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 101px;
}
.box.score-board div {
    width: 32.75%;
}
.box.score-board {
    display: flex;
    background-color: #ffffff54;
}
.game-over-panel {
    background-color: rgb(222 222 222 / 80%);
    position: fixed;
    inset: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-over-panel .box {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box.game-board {
    background-color: #ffffff54;
    border: black 1px solid;
}